# Logs
build.log
npm_debug.log*
*.log

# Dependencies
node_modules/
.pnp/
.pnp.js

# Build output
dist/
dist-ssr/
release/
.test-output/
.local/

# TypeScript build info
*.tsbuildinfo

# Environment variables
.env
.env.*
!.env.example
!.env.electron
!.env.plus

# Editor / OS
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
*.local

# CodeBuddy
.codebuddy/

!.env.webview2
